<div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
    <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
        <div class="flex justify-between mb-5">
            <form class="mt-2 ml-4">
                <label for="default-search"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none ">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400 " fill="none"
                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                        class="block py-4 pl-10 w-[40rem] text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search Mockups, Logos..." required="">
                    <button type="submit"
                        class="text-white absolute right-2.5 bottom-2.5 bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                </div>
            </form>

            <button
                class="bg-[#f472b6] hover:bg-[#f43f5e] text-base font-medium text-white rounded px-2 mt-4 w-30 mr-2 h-11"
                (click)="toggleModal()">
                <i class="ni ni-fat-add"></i>
                Create
            </button>
        </div>
        <div class="flex flex-col h-[41rem] ">
            <div class="sm:-mx-6 lg:-mx-8 example-list " cdkDropList (cdkDropListDropped)="drop($event)">
                <div class="py-2 sm:px-6 lg:px-8 ml-4 mr-3 flex example-box" cdkDrag *ngFor="let item of todo">
                    <div
                        class="rounded shadow bg-white mx-2 w-full border border-solid border-black p-4 flex justify-between">
                        <div class="flex w-[50%]  ">
                            <div>
                                <span (click)="onCheckBox(item._id, item.status)" class="material-symbols-outlined"
                                    ngClass="{{item.status == true ? 'text-green-600': 'text-red-500'}}">
                                    {{item.status== true ? 'check_box' : 'check_box_outline_blank'}}
                                </span>
                            </div>
                            <div class="grid grid-cols-2 gap-24 ml-10 w-full">
                                <span class="">{{item.title}}</span>
                                <span>{{item.description}}</span>
                            </div>
                        </div>
                        <div class="flex justify-end">
                            <span class="mr-10">{{item.deadline}}</span>
                            <button (click)="toggleModal(item)" class="mr-5"><i class="ni ni-ruler-pencil"></i></button>
                            <button (click)="onDelete(item._id)"><i class="ni ni-fat-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>