<!-- This is an example component -->
<div class="container mx-auto shadow-lg rounded-lg">
    <!-- headaer -->
    <div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
        <div class="font-semibold text-2xl">Chat Room</div>
        <div class="w-1/2">
            <input type="text" name="" id="" placeholder="search IRL"
                class="rounded-2xl bg-gray-100 py-3 px-5 w-full" />
        </div>
        <div class="h-12 w-12 p-2 bg-yellow-500 rounded-full text-white font-semibold flex items-center justify-center">
            <img src="https://i.pravatar.cc/" class="h-12 w-12 rounded-full" alt="">
        </div>
    </div>
    <!-- end header -->
    <!-- Chatting -->
    <div class="flex flex-row justify-between bg-white">
        <!-- chat list -->
        <div class="flex flex-col w-2/5 border-r-2 overflow-y-auto">
            <!-- search compt -->
            <div class="border-b-2 py-4 px-2">
                <input type="text" placeholder="search chatting"
                    class="py-2 px-2 border-2 border-gray-200 rounded-2xl w-full" />
            </div>
            <!-- end search compt -->
            <!-- user list -->
            <div (click)="onClickMessage(item.id)" *ngFor="let item of groupChat"
                [ngClass]="item.id==conversationId ? 'border-blue-600': ''"
                class="flex flex-row py-4 px-2 items-center border-b-2 border-l-4 cursor-pointer ">
                <div class="w-1/4">
                    <img src="https://source.unsplash.com/L2cxSuKWbpo/600x600"
                        class="object-cover h-12 w-12 rounded-full" alt="" />
                </div>
                <div class="w-full">
                    <div class="text-lg font-semibold">{{item.name}}</div>
                </div>
            </div>

            <button (click)="toggleModal()"
                class="w-full text-center border border-solid border-[#ec5990] mt-10 rounded bg-[#ec5990] text-white font-bold p-2 ">
                CREATE A CONVERSATION
            </button>
            <!-- end user list -->
        </div>
        <!-- end chat list -->
        <!-- message -->
        <div class="w-full px-5 flex flex-col justify-between ">
            <div class="flex  mt-5 flex-col-reverse overflow-x-auto h-[500px] bar">
                <div class="flex mb-4"
                    [ngClass]="item.from._id === userId ? 'justify-end, flex-row-reverse' : 'justify-start' "
                    *ngFor="let item of chatContent">
                    <img src="https://i.pravatar.cc/" class="object-cover h-8 w-8 rounded-full ml-2 mr-2" alt="" />
                    <div>
                        <div [ngClass]="item.from._id == userId ? 'rounded-bl-3xl rounded-tl-3xl rounded-tr-xl' : ' rounded-br-3xl rounded-tr-3xl rounded-tl-xl'"
                            class=" py-1 px-4 bg-gray-400 text-white">{{item.text}}</div>
                        <span class="text-xs ">{{item.from.last_name + ' ' + item.from.first_name}} {{item.date | date:
                            "hh:mm dd/MM"}}</span>
                    </div>
                </div>
            </div>
            <div class="py-5">
                <form (ngSubmit)="onSubmit()" [formGroup]="formMessage" class="flex">
                    <input class="w-full bg-gray-300 py-3 px-3 rounded-xl" type="text" formControlName="text"
                        placeholder=" type your message here..." />
                    <button [disabled]="!formMessage.valid" type="submit"
                        class="bg-blue-500 py-3 px-3 rounded-xl ml-4 w-[10%]"><i
                            class="ni ni-send text-white"></i></button>
                </form>
            </div>
        </div>
        <!-- end message -->
    </div>
</div>