<h1 mat-dialog-title>Tạo mới dự án</h1>
<div mat-dialog-content class="h-[310px]">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-6">
      <input
        type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleInput7"
        placeholder="Tên dự án ..."
        formControlName="name"
      />
    </div>
    <div class="form-group mb-6">
      <input
        type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleInput8"
        placeholder="Mô tả dự án..."
        formControlName="description"
      />
    </div>
    <div class="form-group mb-6">
      <textarea
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleFormControlTextarea13"
        rows="3"
        placeholder="ReadMe"
        formControlName="readme"
      ></textarea>
    </div>
    <div mat-dialog-actions>
      <button type="submit" mat-raised-button color="primary">Tạo mới</button>
      <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
    </div>
   
  </form>
</div>
