<div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
  <div class="rounded shadow bg-white mx-2 w-full overflow-auto h-96">
    <div class="flex justify-between">
      <h1 class="">List Status</h1>
      <button
        class="m-5"
        (click)="OpenPopup()"
        mat-raised-button
        color="primary"
      >
        Add Status
      </button>
    </div>
    <div
      *ngFor="let status of status"
      class="pl-5 flex justify-between items-center"
    >
      <div class="mb-5">
        <p [ngStyle]="{ color: status.color }">
          {{ status.name }}
        </p>
      </div>
      <div class="mx-5">
        <button mat-raised-button color="warn" (click)="onRemove(status.id)">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>
