<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="keywords"
      content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example"
    />
    <!-- Css -->
    <!-- <link rel="stylesheet" href="/assets/dashboardLayout/dist/styles.css" />
    <link rel="stylesheet" href="/assets/dashboardLayout/dist/all.css" /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <title>Dashboard | Tailwind Admin</title>
  </head>

  <body>
    <!--Container -->
    <div class="mx-auto bg-grey-400">
      <!--Screen-->
      <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-slate-500">
          <div class="flex justify-between">
            <div class="p-1 mx-3 inline-flex items-center">
              <i
                class="fas fa-bars pr-2 text-white"
                onclick="sidebarToggle()"
              ></i>
             <a routerLink="/welcome"><h1 class="text-white p-2" >Logo</h1></a> 
            </div>
          
          </div>
        </header>

        <!--/Header-->

        <div class="flex flex-1">
          <!--Sidebar-->
          <aside
            id="sidebar"
            class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block"
          >
            <ul class="list-reset flex flex-col">
              <li
                class="w-full h-full py-3 px-2 border-b border-light-border bg-white"
              >
                <a
                  (click)="onClick()"
                  routerLink="common"
                  routerLinkActive="active"
                  class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline cursor-pointer"
                >
                  <i class="fas fa-tachometer-alt float-left mx-2"></i>
                  Dashboard
                </a>
              </li>
              <li class="w-full h-full py-3 px-2 border-b border-light-border">
                <a
                  routerLink="todo"
                  routerLinkActive="active"
                  class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline"
                >
                  <i class="fa-solid fa-list-ul float-left mx-2"></i>
                  Todo
                </a>
              </li>
              <li class="w-full h-full py-3 px-2 border-b border-light-border">
                <a
                  routerLink="chats"
                  routerLinkActive="active"
                  class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline"
                >
                  <i class="fa-solid fa-comments float-left mx-2"></i>
                  Chats
                </a>
              </li>
            </ul>
          </aside>
          <!--/Sidebar-->
          <!--Main-->
          <main class="bg-white-300 flex-1 p-3 overflow-hidden">
            <router-outlet></router-outlet>
          </main>
          <!--/Main-->
        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
          <div class="flex flex-1 mx-auto">&copy; My Design</div>
          <div class="flex flex-1 mx-auto">
            Distributed by:
            <a href="https://themewagon.com/" target=" _blank">Themewagon</a>
          </div>
        </footer>
        <!--/footer-->
      </div>
    </div>
   
  </body>
</html>
